<h1 class="text-brand-primary">Dashboard</h1>
<p class="text-sm">Manage your money with ease.</p>
<div class="row">
  <div class="col">
    <h2>Accounts</h2>
    <p>Net income <strong><%= number_to_currency(current_user.current_net_income) %></strong></p>
    <ul class="list-unstyled">
      <% current_user.accounts.kept.each do |account| %>
        <li><%= link_to "#{account.name} #{number_to_currency(account.current_balance)}", money_transactions_path(account: account) %></li>
      <% end %>
    </ul>
    <a href="<%= new_account_path %>" class="btn btn-primary">New account</a>
    <div class="mt-5"></div>
    <h2>Categories</h2>
    <p>Most used</p>
    <ul class="list-unstyled">
      <% current_user.categories.each do |category| %>
        <li><%= link_to category.name, edit_category_path(category) %></li>
      <% end %>
    </ul>
    <a href="<%= new_category_path %>" class="btn btn-primary">New category</a>            
  </div>
  <div class="col">
    <h2>Averages</h2>
    <p>All time</p>
    <div class="row">
      <div class="col text-center">
        <div class="card">
          <div class="card-body">
            <h3 class="text-success">$5,000</h3>
          </div>
        </div>
        <p>Average monthly income</p>
      </div>
      <div class="col text-center">
        <div class="card">
          <div class="card-body">
            <h3>$5,000</h3>
          </div>
        </div>
        <p>Average monthly expense</p>
      </div>              
    </div>
    <div class="mt-5"></div>
    <h2>Cash Flow</h2>
    <p>Last 12 months</p>
    [LINE_CHART]
    <div class="mt-5"></div>
    <h2>Expenses Breakdown</h2>
    <p>This year</p>
    <%= pie_chart MoneyTransaction.group_by_categories(current_user, Time.zone.now.year), suffix: "%" %>            
  </div>
</div>