<%= form_with(model: money_transaction, local: true) do |form| %>
  <% if money_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money_transaction.errors.count, "error") %> prohibited this money_transaction from being saved:</h2>

      <ul>
      <% money_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="card">
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-transaction-tab" data-toggle="tab" href="#nav-transaction" role="tab" aria-controls="nav-transaction" aria-selected="true">Transaction details</a>
                <a class="nav-item nav-link" id="nav-sat-tab" data-toggle="tab" href="#nav-sat" role="tab" aria-controls="nav-sat" aria-selected="false">SAT (Mexico only)</a>
              </div>
            </nav>
            <div class="tab-content mt-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-transaction" role="tabpanel" aria-labelledby="nav-transaction-tab">
                <div class="form-group">
                  <%= form.label :description %>
                  <%= form.text_area :description, class: 'form-control' %>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <%= form.label :account_id, 'Account' %>
                    <%= form.select :account_id, 
                        options_for_select(@accounts, money_transaction.persisted? ? money_transaction.account.id : '' ), 
                        {}, 
                        class: 'custom-select' %>
                  </div>                
                  <div class="form-group col">
                    <%= form.label :done_at, 'Date' %>
                    <%= form.text_field :done_at,
                        class: 'form-control single-date-picker-here',
                        required: true, 
                        value: money_transaction.persisted? ? money_transaction.done_at.strftime("%d/%m/%Y") : '' %>
                  </div>                  
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <%= form.label :kind, 'Deposit or Withdrawal' %>
                    <%= form.select :kind, options_for_select(@money_transaction_kinds, money_transaction.kind),
                        {}, class: 'custom-select' %>
                  </div>                
                  <div class="form-group col">
                    <%= form.label :amount, 'Total Amount' %>
                    <%= form.number_field :amount, class: 'form-control' %>
                  </div>                  
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <%= form.label :category_id, 'Category' %>
                    <%= form.select :category_id, 
                        options_for_select(@categories, money_transaction.persisted? ? money_transaction.category.id : ''),
                        {}, class: 'custom-select' %>
                  </div>                
                  <div class="form-group col">
                    <%= form.label :invoice %><br>
                    <% if money_transaction.invoice.attached? %>
                      <div class="form-group">
                        <%= link_to money_transaction.invoice.filename, rails_blob_path(money_transaction.invoice, disposition: 'attachment'), class: 'btn btn-link' %>
                          <%= link_to "<i class='fas fa-trash'></i>".html_safe, attachment_path(money_transaction.invoice.id), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure? This action cannot undo'} %>
                      </div>
                    <% end %>
                    <%= form.file_field :invoice, direct_upload: true %>
                  </div>                  
                </div>
                <div class="form-group">
                  <%= form.label :notes %>
                  <%= form.text_area :notes, class: 'form-control' %>
                </div>                                                
              </div>
              <div class="tab-pane fade" id="nav-sat" role="tabpanel" aria-labelledby="nav-sat-tab">
                <div class="form-group">
                  <%= form.label :cfdi_folio, 'Folio' %>
                  <%= form.text_field :cfdi_folio, class: 'form-control' %>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <%= form.label :cfdi_issued_by, 'Issued By' %>
                    <%= form.text_field :cfdi_issued_by, class: 'form-control' %>
                  </div>
                  <div class="form-group col">
                    <%= form.label :cfdi_issued_rfc, 'Issued RFC' %>
                    <%= form.text_field :cfdi_issued_rfc, class: 'form-control' %>
                  </div>                                  
                </div>
                <div class="form-group">
                  <%= form.label :cfdi_payment_method, 'Payment Method' %>
                  <%= form.text_field :cfdi_payment_method, class: 'form-control' %>                  
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <%= form.label :cfdi_pdf, 'PDF Invoice' %><br>
                      <% if money_transaction.cfdi_pdf.attached? %>
                        <div class="field">
                          <%= link_to money_transaction.cfdi_pdf.filename, rails_blob_path(money_transaction.cfdi_pdf, disposition: 'attachment'), class: 'btn btn-link' %>
                          <%= link_to "<i class='fas fa-trash'></i>".html_safe, attachment_path(money_transaction.cfdi_pdf.id), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure? This action cannot undo'} %>
                        </div>
                      <% end %>    
                    <%= form.file_field :cfdi_pdf, direct_upload: true %>
                  </div>
                  <div class="form-group col">
                    <%= form.label :cfdi_xml, 'XML Invoice' %><br>
                      <% if money_transaction.cfdi_xml.attached? %>
                        <div class="field">
                          <%= link_to money_transaction.cfdi_xml.filename, rails_blob_path(money_transaction.cfdi_xml, disposition: 'attachment'), class: 'btn btn-link' %>
                          <%= link_to "<i class='fas fa-trash'></i>".html_safe, attachment_path(money_transaction.cfdi_xml.id), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure? This action cannot undo'} %>
                        </div>
                      <% end %>    
                    <%= form.file_field :cfdi_xml, direct_upload: true %>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <% if money_transaction.persisted? %>
              <%= link_to "<i class='fas fa-trash'></i>".html_safe, money_transaction, method: :delete, class: 'btn btn-danger', data:{ confirm: 'Transaction will be deleted. This action cannot be undo.'} %>
              <!-- <a href="#" class="btn btn-secondary"><i class="fas fa-copy"></i></a> -->
            <% end %>
            <%= form.submit "Save", class: 'btn btn-primary' %>
            <%= link_to 'Cancel', :back %>
          </div>
        </div>
<% end %>

<script>
  $('#money_transaction_kind').on('change', function(){
    var associated_transaction_type = $(this).val();
    Rails.ajax({
      url: '/categories',
      type: 'get',
      data: 'associated_transaction_type='+associated_transaction_type,
      dataType: 'script',
      success: function(){
        console.log('Categories loaded - OK - Rendering index.js.erb');
      },
      error: function(){
        alert('An error ocurred. Please try again.');
      }
    })
  });
</script>
