<h1 class="text-brand-primary">Transactions</h1>
<p class="text-sm">Lorem ipsum dolor sit amet...</p>
<%= link_to 'New transaction', new_money_transaction_path, class: 'btn btn-primary', data: {turbolinks: false} %>
<nav class="navbar navbar-light bg-light mt-3 mb-3">
  <%= form_with(url: money_transactions_path, method: :get, local: true, class: 'form-inline') do |form| %>
    <%= form.text_field :search, class: 'form-control form-control-sm mr-sm-2', placeholder: 'Search by description...' %>
    <%= form.select :account, 
        options_for_select(current_user.accounts.kept.map{ |a| [a.name, a.id] }),
        {prompt: 'All accounts'}, 
        class: 'custom-select custom-select-sm mr-sm-2' %>
    <%= form.select :category, 
        options_for_select(current_user.categories.map{ |c| [c.name, c.id] }),
        {prompt: 'All categories'}, 
        class: 'custom-select custom-select-sm mr-sm-2' %>
    <%= form.text_field :date_range, placeholder: 'Select date range...', class: 'form-control form-control-sm mr-sm-2 date-range-picker-here' %>
    <%= form.button "<i class='fas fa-filter'></i>".html_safe, type: 'submit', name: nil, class: 'btn btn-sm btn-outline-primary my-2 my-sm-0' %>
  <% end %>        
</nav>
<p>
  <%= render 'label_records_filtered' %>   
  <span>
    <%= link_to 'Export to CSV', money_transactions_path(format: 'csv'), class: 'btn btn-sm btn-link' %>
    <a href="#" class="btn btn-sm btn-link">Export to PDF</a>
  </span>          
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @money_transactions.each do |mt| %>
      <tr>
        <td><%= mt.done_at.strftime("%d/%m/%Y") %></td>
        <td><%= mt.description %></td>
        <td>
          <span class="text-<%= mt.deposit? ? 'success' : 'normal' %>">
            <%= number_to_currency(mt.amount) %>
          </span>
        </td>
        <td><%= mt.category.name %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_money_transaction_path(mt), data:{ turbolinks: false} %></td>
      </tr>
    <% end %>           
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
<%== pagy_info(@pagy) %>
