<h1 class="text-brand-primary">Transactions</h1>
<p class="text-sm">Lorem ipsum dolor sit amet...</p>
<%= link_to 'New transaction', new_money_transaction_path, class: 'btn btn-primary' %>
<nav class="navbar navbar-light bg-light mt-3 mb-3">
  <form class="form-inline">
    <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search by description..." aria-label="Search">
    <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <form class="form-inline">
    <select class="custom-select custom-select-sm mr-sm-2">
      <option>All accounts</option>
      <option>Cash on hand</option>
      <option>Santander debit XXXX</option>
      <option>Santander credit XXXX</option>
    </select>
    <select class="custom-select custom-select-sm mr-sm-2">
      <option>All categories</option>
      <option>Sales</option>
      <option>Transportation</option>
      <option>Rent</option>
      <option>Payroll</option>
      <option>Home & Maintenance</option>
    </select>
    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Select date range..." aria-label="date-range">
    <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-filter"></i></button>
  </form>          
</nav>
<p>
  <span class="text-sm text-gray">Transactions from <strong>2019/05/01</strong> to <strong>2019/08/15</strong> in <strong>All accounts</strong> / <strong>All categories</strong></span>
  <span>
    <a href="#" class="btn btn-sm btn-link">Export to CSV</a>
    <a href="#" class="btn btn-sm btn-link">Export to PDF</a>
  </span>          
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @money_transactions.each do |mt| %>
      <tr>
        <td><%= mt.done_at %></td>
        <td><%= mt.description %></td>
        <td>
          <span class="text-<%= mt.deposit? ? 'success' : 'normal' %>">
            <%= number_to_currency(mt.amount) %>
          </span>
        </td>
        <td><%= mt.category.name %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_money_transaction_path(mt) %></td>
      </tr>
    <% end %>           
  </tbody>
</table>
<nav class="nav justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i> Prev</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next <i class="fas fa-angle-right"></i></a></li>
  </ul>
</nav>
