<h2 class="text-brand-primary">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
    <div class="col-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
