<p id="notice"><%= notice %></p>

<h1>Reconciliations</h1>

<table>
  <thead>
    <tr>
      <th>Past balance</th>
      <th>New balance</th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Data</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reconciliations.each do |reconciliation| %>
      <tr>
        <td><%= reconciliation.past_balance %></td>
        <td><%= reconciliation.new_balance %></td>
        <td><%= reconciliation.amount %></td>
        <td><%= reconciliation.notes %></td>
        <td><%= reconciliation.data %></td>
        <td><%= reconciliation.account %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reconciliation', new_account_reconciliation_path(@account) %>
