<h1 class="text-brand-primary">Categories</h1>
<p class="text-sm">Lorem ipsum dolor sit amet...</p>
<%= link_to 'New category', new_category_path, class: 'btn btn-primary'  %>
<p class="text-sm text-gray mt-3">
  Categories <strong><%= Category.all.count %></strong>
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Associated Transaction Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.associated_transaction_type %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_category_path(category) %></td>
      </tr>
    <% end %>                                    
  </tbody>
</table>
