<!DOCTYPE html>
<html>
  <head>
    <title>CashcashRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Accounts', accounts_path %></li>
        <li><%= link_to 'Categories', user_categories_path(current_user) %></li>
        <li><%= link_to 'My profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
