<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="cashcash-rails - Open source app for money management">
    <meta name="author" content="@tolesco">
    <title>cashcash-rails - Money management with ease</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:400,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/61edada64c.js"></script>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <%= render 'shared/sidebar' %>
      <div id="page-content-wrapper">
        <%= render 'shared/navbar' %>
        <div class="container-fluid pb-5">
          <%= render 'shared/flash_messages' %>
          <%= yield %>             
        </div>
        <%= render 'shared/footer' %>
      </div>
    </div>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
