<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind, options_for_select(Account.kinds.map{ |k| [k[0].humanize, k[0]] }) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :initial_balance %>
    <%= form.text_field :initial_balance, disabled: controller.action_name == 'new' ? false : true %>
  </div>

  <div class="field">
    <%= form.label :current_balance %>
    <%= form.text_field :current_balance, disabled: controller.action_name == 'new' ? true : false %>
  </div>

  <% if controller.action_name == 'edit' %>
    <div class="field">
      <%= link_to 'View account reconciliations', account_reconciliations_path(account) %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.hidden_field :user_id %>
    <%= form.submit %>
  </div>
<% end %>
