<h1 class="text-brand-primary">Accounts</h1>
<p class="text-sm">Lorem ipsum dolor sit amet...</p>
<%= link_to 'New account', new_account_path, class: 'btn btn-primary' %>
<div class="mt-3"></div>
<p class="text-sm text-gray">
  Net Income <strong><%= number_to_currency(current_user.current_net_income) %></strong>
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Balance</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.description %></td>
        <td><%= number_to_currency(account.current_balance) %></td>
        <td><%= account.kind.humanize %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_account_path(account) %></td>
      </tr>
    <% end %>            
  </tbody>
</table>
<nav class="nav justify-content-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i> Prev</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next <i class="fas fa-angle-right"></i></a></li>
  </ul>
</nav>
