<h1 class="text-brand-primary"><%= params[:archived].present? ? 'Accounts (archived)' : 'Accounts' %></h1>
<p class="text-sm">Lorem ipsum dolor sit amet...</p>
<%= link_to 'New account', new_account_path, class: 'btn btn-primary mb-3' unless params[:archived].present? %>
<p class="text-sm">
  <%= link_to "View archived accounts <i class='fas fa-archive'></i>".html_safe, accounts_path(archived: true) unless params[:archived].present? %>
</p>
<% unless params[:archived].present? %>
  <p class="text-sm text-gray mt-3">Net Income <strong><%= number_to_currency(current_user.current_net_income) %></strong></p>
<% end %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Balance</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.description %></td>
        <td><%= number_to_currency(account.current_balance) %></td>
        <td><%= account.kind.humanize %></td>
        <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_account_path(account) %></td>
      </tr>
    <% end %>            
  </tbody>
</table>
