<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @account.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Initial balance:</strong>
  <%= @account.initial_balance %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @account.current_balance %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Data:</strong>
  <%= @account.data %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
